<h1 id="title">Basic examples of the <code>modal-dialog</code> component</h1>
<p>
  This component uses <code>ember-wormhole</code> to relocate the dialog in the
  DOM to better sit in a layer above the rest of your document.
</p>

<div class="example" id="example-basic">
  <h2>Basic</h2>
  <button type="button" {{on "click" (fn (mut this.isShowingBasic) true)}}>Do It</button>
  <CodeSnippet @name="basic-modal-dialog.hbs" />
  {{#if this.isShowingBasic}}
    {{!-- BEGIN-SNIPPET basic-modal-dialog --}}
    <ModalDialog
      @onClose={{fn (mut this.isShowingBasic) false}}
    >
      <h1>Stop! Modal Time!</h1>
      <p>Basic</p>
      <button type="button" {{on "click" (fn (mut this.isShowingBasic) false)}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-translucent">
  <h2>With Translucent Overlay</h2>
  <button type="button" {{on "click" (fn (mut this.isShowingTranslucent) true)}}>Do It</button>
  <CodeSnippet @name="translucent-modal-dialog.hbs" />
  {{#if this.isShowingTranslucent}}
    {{!-- BEGIN-SNIPPET translucent-modal-dialog --}}
    <ModalDialog
      @onClose={{fn (mut this.isShowingTranslucent) false}}
      @translucentOverlay={{true}}
    >
      <h1>Stop! Modal Time!</h1>
      <p>With Translucent Overlay</p>
      <button type="button" {{on "click" (fn (mut this.isShowingTranslucent) false)}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-translucent-with-callback">
  <h2>Translucent Overlay with Callback</h2>
  <button type="button" {{on "click" (fn (mut this.isShowingTranslucentWithCallback) true)}}>Do It</button>
  <CodeSnippet @name="translucent-modal-dialog-with-callback.hbs" />
  {{#if this.isShowingTranslucentWithCallback}}
    {{!-- BEGIN-SNIPPET translucent-modal-dialog-with-callback --}}
    <ModalDialog
      @onClose={{fn (mut this.isShowingTranslucentWithCallback) false}}
      @translucentOverlay={{true}}
      @onClickOverlay={{fn this.clickedTranslucentOverlay}}
    >
      <h1>Stop! Modal Time!</h1>
      <p>Translucent Overlay with Callback</p>
      <button type="button" {{on "click" (fn (mut this.isShowingTranslucentWithCallback) false)}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-without-overlay">
  <h2>Without Overlay</h2>
  <button type="button" {{on "click" (fn (mut this.isShowingWithoutOverlay) true)}}>Do It</button>
  <CodeSnippet @name="modal-dialog-without-overlay.hbs" />
  {{#if this.isShowingWithoutOverlay}}
    {{!-- BEGIN-SNIPPET modal-dialog-without-overlay --}}
    <ModalDialog
      @onClose={{fn (mut this.isShowingWithoutOverlay) false}}
      @clickOutsideToClose={{true}}
    >
      <h1>Stop! Modal Time!</h1>
      <p>Without Overlay</p>
      <button type="button" {{on "click" (fn (mut this.isShowingWithoutOverlay) false)}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-overlay-sibling">
  <h2>With Overlay as a Sibling in the DOM</h2>
  <button type="button" {{on "click" (fn (mut this.isShowingSibling) true)}}>Do It</button>
  <CodeSnippet @name="translucent-modal-dialog-sibling.hbs" />
  {{#if this.isShowingSibling}}
    {{!-- BEGIN-SNIPPET translucent-modal-dialog-sibling --}}
    <ModalDialog
      @onClose={{fn (mut this.isShowingSibling) false}}
      @translucentOverlay={{true}}
    >
      <h1>Stop! Modal Time!</h1>
      <p>With Translucent Overlay as Sibling</p>
      <button type="button" {{on "click" (fn (mut this.isShowingSibling) false)}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-custom-styles">
  <h2>Custom Styles</h2>
  <button type="button" {{on "click" (fn (mut this.isShowingCustomStyles) true)}}>Do It</button>
  <CodeSnippet @name="custom-styles-modal-dialog.hbs" />
  <CodeSnippet @name="custom-styles.scss" />
  {{#if this.isShowingCustomStyles}}
    {{!-- BEGIN-SNIPPET custom-styles-modal-dialog --}}
    <ModalDialog
      @onClose={{fn (mut this.isShowingCustomStyles) false}}
      @targetAttachment="none"
      @containerClass={{this.customContainerClassNames}}
      @overlayClass="custom-styles-overlay"
    >
      <h1>Stop! Modal Time!</h1>
      <p>Custom Styles</p>
      <button type="button" {{on "click" (fn (mut this.isShowingCustomStyles) false)}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>